.advantages {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $color-content;
  background-image: linear-gradient(
    to bottom,
    lighten($color-content, 50),
    #ffffff
  );
  color: #ffffff;
}

.advantages__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.advantages__title {
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  color: $color-jade;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  display: block;
  margin: 0;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  padding: 0;
  min-height: 250px;
  width: 250px;
  border: 8px double $color-gold;
  border-radius: 50%;
  background-color: $color-ocean;
  background-position: center;
  background-size: 180px 180px;
  background-repeat: no-repeat;
  list-style: none;

  &--guarantee {
    background-image: url("../img/guarantee.svg");
  }

  &--delivery {
    background-image: url("../img/delivery-truck.svg");
  }

  &--prices {
    background-image: url("../img/piggy-bank.svg");
  }

  &--review {
    background-image: url("../img/rating.svg");
  }
}

.advantages__wrapper {
  margin-top: 50%;
  transform: translateY(-50%);
}

.advantages__name {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: $shadow-glowing;
  font-size: 20px;
  line-height: 24px;
}

.advantages__description {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

@media (min-width: $breakpoint-tablet) {
  .advantages__title {
    font-size: 28px;
    line-height: 30px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .advantages__item {
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    width: 345px;
    height: 345px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .advantages__name {
    font-size: 22px;
    line-height: 26px;
  }

  .advantages__description {
    font-size: 22px;
    line-height: 26px;
  }
}

@media (min-width: 990px) {
  .advantages__item {
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    width: 400px;
    height: 400px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .advantages__name {
    font-size: 24px;
  }

  .advantages__description {
    font-size: 24px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .advantages__item {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 260px;
    height: 260px;

    &:nth-child(2n) {
      margin-right: 30px;
    }
  }

  .advantages__name {
    font-size: 22px;
  }

  .advantages__description {
    font-size: 20px;
  }
}
