.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog__descrition {
  margin-top: 20px;
  width: 94%;
  color: $color-tomato;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
}

.catalog__caption {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 94%;
  color: $color-tree;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}

.catalog__slider {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.catalog__frame {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;
}

.catalog__list {
  display: inline-block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
  list-style: none;
}

.catalog__item {
  position: relative;
  display: inline-block;
  padding-right: 3%;
  padding-left: 3%;
  max-width: 100%;
  width: 100%;
  list-style: none;
}
