.container {
  display: block;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  min-width: 320px;
  max-width: 100%;
}

@media (min-width: $breakpoint-desktop) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
    max-width: $content-desktop;
  }
}
