.hero {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  height: calc(100vh - 71px);
  background-color: #272f07;
  background-image: url("../img/hero-bg-mobile@1x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-gold;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-bg-mobile@2x.jpg");
  }
}

.hero__overlay {
  position: absolute;
  z-index: 0;
  width: 95%;
  height: 100%;
}

.hero__lead {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-top: 20px;
  width: 94%;
  text-align: center;
  text-shadow: $shadow-gold;
}

.hero__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  font-family: $font-primary;
  line-height: 24px;

  &--big {
    font-size: 28px;
    line-height: 28px;
  }
}

.hero__countdown {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
  width: 80%;
}

.hero__wrapper {
  margin-right: 3%;
  width: 22%;
  text-align: center;
  &:nth-child(4n) {
    margin-right: 0;
  }
}

.hero__count,
.hero__label {
  display: block;
  text-align: center;
  font-weight: 700;
  font-family: $font-primary;
}

.hero__count {
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: $color-gold;
  color: $color-ocean;
  vertical-align: middle;
  text-shadow: $shadow-gold;
  font-size: 24px;
  line-height: 28px;
}

.hero__label {
  text-shadow: $shadow-gold;
  font-size: 20px;
  line-height: 24px;
}

.hero__button {
  z-index: 1;
  display: inline-block;
  padding: 10px;
  min-width: 200px;
  border: 2px solid $color-tree;
  border-radius: 15px;
  background-color: #f5e5cb;
  color: $color-ocean;
  vertical-align: middle;
  text-transform: uppercase;
  text-shadow: $shadow-glowing;
  font-weight: 700;
  font-size: 20px;
  font-family: $font-primary;
  line-height: 24px;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    border-color: $color-gold;
    color: $color-tomato;
  }
}

@media (min-width: $breakpoint-tablet) {
  .hero {
    background-image: url("../img/hero-bg-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-bg-tablet@2x.jpg");
    }
  }

  .hero__lead {
    margin-top: 40px;
  }

  .hero__title {
    font-size: 36px;
    line-height: 40px;
  }

  .hero__count {
    padding: 15px;
    font-size: 34px;
    line-height: 38px;
  }

  .hero__label {
    font-size: 30px;
    line-height: 34px;
  }

  .hero__button {
    padding: 15px;
    font-size: 26px;
    line-height: 30px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .hero {
    background-image: url("../img/hero-bg-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-bg-desktop@2x.jpg");
    }
  }

  .hero__lead,
  .hero__countdown {
    max-width: $content-desktop;
  }

  .hero__button {
    min-width: 20%;
    text-align: center;
  }
}
