.order-form {
  padding-top: 30px;
  padding-bottom: 30px;
}

.order-form__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.order-form__title {
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 1px dashed $color-tree;
  color: $color-tomato;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
}

.order-form__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 3px dashed $color-salad;
  background-image: url("../img/ecommerce-bg.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.order-form__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.order-form__label {
  margin-right: 10px;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
}

.order-form__input {
  flex-grow: 1;
  padding: 5px;
  min-width: 0;
  width: 0;
  border: 1px solid $color-ocean;
  font-family: $font-primary;
}

.order-form__submit {
  display: inline-block;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  border: 2px solid $color-ocean;
  border-radius: 10px;
  background: transparent;
  color: $color-ocean;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.order-form__hidden {
  display: none;
}

.order-form__cart {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.order-form__cart.no-js {
  display: none;
}

.order-form__cart-label {
  margin-right: 10px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  &--nowrap {
    width: auto;
  }
}

.order-form__cart-total,
.order-form__cart-items {
  margin-right: 3px;
  white-space: pre-line;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
}

.order-form__reset {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-left: auto;
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 10px;
  border: 2px solid $color-tomato;
  border-radius: 10px;
  background: transparent;
  color: $color-tomato;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.3s ease;

  &::before,
  &::after {
    position: absolute;
    top: 14px;
    right: 10px;
    display: block;
    width: 10px;
    height: 2px;
    background-color: $color-watermelon;
    content: "";
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}
