.order-info {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: lighten($color-salad, 15);
  background-image: linear-gradient(to top, lighten($color-salad, 15), #ffffff);
}

.order-info__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.order-info__title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
}

.order-info__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: order-info-counter;
}

.order-info__item {
  display: flex;
  margin-right: 2%;
  margin-bottom: 15px;
  width: 48%;
  counter-increment: order-info-counter;
  font-size: 20px;
  line-height: 24px;

  &:nth-child(2n) {
    margin-right: 0;
    width: 50%;
  }

  &::before {
    margin-right: 10px;
    content: counter(order-info-counter);
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
  }
}
