.page-footer {
  min-height: 100px;
  background-color: $color-ocean;
  background-image: url("../img/footer-bg.png");
  background-position: center top;
  background-size: auto 30px;
  background-repeat: repeat-x;
}
