.product {
  padding-bottom: 20px;
  background-image: url("../img/catalog-bg.jpg"),
    linear-gradient(#bd1b06, #bd1b06);
  background-position: center 75px, center top;
  background-size: auto 50px, auto 75px;
  background-repeat: repeat-x, repeat-x;
}

.product__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.product__name {
  margin-bottom: 85px;
  padding-top: 20px;
  min-width: 100%;
  min-height: 76px;
  color: $color-gold;
  text-align: center;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product__price {
  margin-right: 5%;
  margin-bottom: 20px;
  width: 30%;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.product__order {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 65%;
  border-radius: 5px;
  background-color: $color-salad;
  background-position: 30px 50%;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  color: $color-tomato;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  transition: all 0.3s ease;

  &--tree {
    background-image: url(../img/tree.svg);
  }

  &--sack {
    background-image: url(../img/sack.svg);
  }

  &--tree-pot {
    background-image: url(../img/tree-pot.svg);
  }

  &--lights {
    background-image: url(../img/lights.svg);
  }

  &--bauble {
    background-image: url(../img/bauble.svg);
  }

  &:hover,
  &:focus {
    background-color: $color-tree;
  }

  &:active {
    opacity: 0.5;
  }
}

.product__description {
  width: 100%;
  white-space: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.product__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.product__image {
  max-width: 100%;
  height: auto;
}

.product__slide {
  position: absolute;
  top: 50%;
  display: block;
  margin-top: -25px;
  border: none;
  background: none;
  cursor: pointer;

  &--prev {
    left: 0;
    transform: rotate(180deg) translateY(2px);
  }

  &--next {
    right: 0;
  }

  &--prev svg,
  &--next svg {
    width: 25px;
  }
}
