.testimonials {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../img/christmas-tree-bg.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.testimonials__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.testimonials__title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
}

.testimonials__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.testimonials__item {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.testimonials__quote {
  font-size: 18px;
  line-height: 22px;
}

.testimonials__cite {
  display: block;
  text-align: right;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}

@media (min-width: $breakpoint-tablet) {
  .testimonials__title {
    font-size: 28px;
    line-height: 28px;
  }

  .testimonials__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .testimonials__item {
    width: 45%;
  }

  .testimonials__quote {
    font-size: 22px;
    line-height: 24px;
  }

  .testimonials__cite {
    font-size: 24px;
    line-height: 24px;
  }
}
