//Variables
//Fonts
$font-primary: "Open Sans", "Helvetica", sans-serif;
$font-secondary: "Arial", "Helvetica", sans-serif;
//Colors
$color-jade: #111111;
$color-salad: #68b738;
$color-stone: #f2f2f2;
$color-content: #444444;
//Breakpoints
$breakpoint-mobile: 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1300px;
//Content width
$content-mobile: 280px;
$content-tablet: 708px;
$content-desktop: 1220px;
//Retina settings
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
