//Variables
//Fonts
$font-primary: "Spectral", "Helvetica", sans-serif;
$font-secondary: "Arial", "Helvetica", sans-serif;
//Colors
$color-jade: #111111;
$color-salad: #74d680;
$color-tree: #378b29;
$color-content: #444444;
$color-watermelon: #ff7878;
$color-tomato: #e00b58;
$color-gold: #eec23e;
$color-sky: #e9f3fb;
$color-ocean: #1a2f4c;
//Breakpoints
$breakpoint-mobile: 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1300px;
//Content width
$content-mobile: 280px;
$content-tablet: 708px;
$content-desktop: 1220px;
//Retina settings
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
//Text shadows
$shadow-glowing: 0 0 10px #ffffff;
$shadow-gold: 0 0 10px #5c4b17, 0 0 15px #eec23e;
