{% set products = [ {
name: "Елка с шишками",
id: 1,
price: [100, 200, 300],
types: ["150 см", "180 см", "210 см"],
description: "Высота от 1.5м до 2.1м",
image: "img/product-placeholder.jpg",
buttonClass: "product__order--tree"
}, {
name: "Елка зеленая",
id: 2,
price: [100, 200, 300],
types: ["150 см", "180 см", "210 см"],
description: "Высота от 1.5м до 2.1м",
image: "img/product-placeholder.jpg",
buttonClass: "product__order--tree"
}, {
name: "Елка с белыми иголками",
id: 3,
price: [100, 200, 300],
types: ["150 см", "180 см", "210 см"],
description: "Высота от 1.5м до 2.1м",
image: "img/product-placeholder.jpg",
buttonClass: "product__order--tree"
}, {
name: "Елка в горшке",
id: 4,
price: [100, 200, 300],
types: ["150 см", "180 см", "210 см"],
description: "Высота от 1.5м до 2.1м",
image: "img/product-placeholder.jpg",
buttonClass: "product__order--tree-pot"
}, {
name: "Гирлянды",
id: 5,
price: [100, 200, 300],
types: ["150 см", "180 см", "210 см"],
description: "Высота от 1.5м до 2.1м",
image: "img/product-placeholder.jpg",
buttonClass: "product__order--lights"
}, {
name: "Набор шариков",
id: 6,
price: [100, 200, 300],
types: ["150 см", "180 см", "210 см"],
description: "Высота от 1.5м до 2.1м",
image: "img/product-placeholder.jpg",
buttonClass: "product__order--bauble"
}, {
name: "Комплект Премиум",
id: 7,
price: [100, 200, 300],
types: ["150 см", "180 см", "210 см"],
description: "Высота от 1.5м до 2.1м",
image: "img/product-placeholder.jpg",
buttonClass: "product__order--sack"
}, {
name: "Комплект Классический",
id: 8,
price: [100, 200, 300],
types: ["150 см", "180 см", "210 см"],
description: "Высота от 1.5м до 2.1м",
image: "img/product-placeholder.jpg",
buttonClass: "product__order--sack"
},{
name: "Комплект Эксклюзивный",
id: 9,
price: [100, 200, 300],
types: ["150 см", "180 см", "210 см"],
description: "Высота от 1.5м до 2.1м",
image: "img/product-placeholder.jpg",
buttonClass: "product__order--sack"
}
]%}


<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Магазин исскуственных ёлок khvelki.ru</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body id="top">
  <div class="visually-hidden">
    <include src="build/img/sprite.svg"></include>
  </div>

  <header class="page-header no-js">
    <div class="page-header__wrapper container">
      <svg class="page-header__image" width="50" height="50" alt="Логотип"><use xlink:href="#christmas_tree"/></svg>
      <h1 class="page-header__title">Магазин Елок</h1>
      <button class="page-header__button no-js" type="button"><span class="visually-hidden">Открыть\закрыть меню</span></button>
    </div>
    <nav class="page-header__navigation">
      <ul class="page-header__list">
        <li class="page-header__item"><a class="page-header__link" href="#top">Наверх</a></li>
        <li class="page-header__item"><a class="page-header__link" href="#hero">Акции</a></li>
        <li class="page-header__item"><a class="page-header__link" href="#catalog">Каталог</a></li>
        <li class="page-header__item"><a class="page-header__link" href="#">Доставка</a></li>
        <li class="page-header__item"><a class="page-header__link" href="#order">Заказ</a></li>
        <li class="page-header__item"><a class="page-header__link" href="#">Контакты</a></li>
      </ul>
    </nav>

  </header>

  <main>

    <section class="hero" id="hero">
      <canvas class="hero__overlay" id="snow"></canvas>
      <h2 class="visually-hidden">Наши акции</h2>
      <p class="hero__lead"><span class="hero__title">Исскуственные елочки любых размеров в Хабаровске</span></p>
      <p class="hero__lead"><span class="hero__title">Бесплатная доставка до двери. Предложение ограничено!</span></p>
      <p class="hero__lead"><span class="hero__title hero__title--big">До окончания акции осталось:</span></p>
      <div class="hero__countdown">
        <div class="hero__wrapper">
          <span class="hero__count hero__count--days">15</span><br><span class="hero__label">дней</span>
        </div>
        <div class="hero__wrapper">
          <span class="hero__count hero__count--hours">23</span><br><span class="hero__label">часов</span>
        </div>
        <div class="hero__wrapper">
          <span class="hero__count hero__count--minutes">29</span><br><span class="hero__label">минут</span>
        </div>
        <div class="hero__wrapper">
          <span class="hero__count hero__count--seconds">14</span><br><span class="hero__label">секунд</span>
        </div>
      </div>
      <a class="hero__button" href="#catalog">Подобрать елку</a>
    </section>

    <section class="advantages">
      <div class="container advantages__container">
        <h2 class="advantages__title">Наши преимущества</h2>
        <ul class="advantages__list">
          <li class="advantages__item advantages__item--guarantee">
            <div class="advantages__wrapper">
              <strong class="advantages__name">Гарантии</strong>
              <span class="advantages__description">Обмен или возврат при выявлении брака</span>
            </div>
          </li>
          <li class="advantages__item advantages__item--delivery">
            <div class="advantages__wrapper">
              <strong class="advantages__name">Бесплатная доставка</strong>
              <span class="advantages__description">До вашей двери в удобное время</span>
            </div>
          </li>
          <li class="advantages__item advantages__item--prices">
            <div class="advantages__wrapper">
              <strong class="advantages__name">Выгодные цены</strong>
              <span class="advantages__description">Мы работаем напрямую с производителем</span>
            </div>
          </li>
          <li class="advantages__item advantages__item--review">
            <div class="advantages__wrapper">
              <strong class="advantages__name">Лучшие отзывы</strong>
              <span class="advantages__description">Все клиенты довольны!</span>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="catalog" id="catalog">
      <h2 class="visually-hidden">Каталог товаров</h2>
      <b class="catalog__descrition">Выберите свою елочку на новый год</b>
      <b class="catalog__caption">Чтобы не тратить время на выбор мы предлагаем Вам лучшие исскуственные елки в этом году</b>
      {% for product in products %}
      <div class="catalog__slider">
        <div class="catalog__frame">
          <ul class="catalog__list">
            {% for price in product.price %}
            <li class="catalog__item product">
              <div class="product__container">
                <b class="product__name">{{product.name}} {{product.types[loop.index0]}}</b>
                <b class="product__description">{{product.description}}</b>
                <b class="product__description">{{product.types[loop.index0]}}</b>
                <div class="product__wrapper">
                  <img class="product__image" src="{{product.image}}" alt="Фото {{product.name}}" width="300" height="517">
                </div>
                  <b class="product__price">{{product.price[loop.index0]}} руб.</b>
                  <a class="product__order no-js {{product.buttonClass}}" href="#order">Купить</a>
                </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <button class="product__slide product__slide--prev" type="button">
          <svg class="page-header__image" width="25" height="25" alt="Предыдущий вариант"><use xlink:href="#slider-button"/></svg>
        </button>
        <button class="product__slide product__slide--next" type="button">
          <svg class="page-header__image" width="25" height="25" alt="Следующий вариант"><use xlink:href="#slider-button"/></svg>
        </button>
      </div>
      {% endfor %}
    </section>

    <section class="order-form">
      <h2 class="order-form__title">Отправить заказ</h2>
      <form class="order-form__form" action="http://jkorpela.fi/cgi-bin/echo.cgi" method="POST">
        <input class="order-form__input" type="text" name="name" id="name">
        <label for="name" class="order-form__label"></label>
        <button class="order-form__submit" type="submit">Отправить заказ</button>
      </form>
    </section>

    <section class="order-info">
      <div class="container order-info__container">
        <h2 class="order-info__title">Как сделать заказ?</h2>
        <ol class="order-info__list">
          <li class="order-info__item">
            Оставьте заявку на сайте или позвоните
          </li>
          <li class="order-info__item">
            Мы свяжемся с вами в течении 15 минут и уточним заказ и детали заявки</li>
          <li class="order-info__item">
            Ожидайте доставку в назначенное время
          </li>
          <li class="order-info__item">
            Можно украшать елку и отмечать Новый год!
          </li>
        </ol>
      </div>
    </section>

    <section class="guarantee">
      <div class="container guarantee__container">
        <h2 class="guarantee__title">Наши гарантии</h2>
        <p class="guarantee__description">
          В случае выявления брака или неполной комплектации свяжитесь с нами любым удобным способом. <br>
          Наш курьер доставит замену в максимально короткий срок.
        </p>
      </div>
    </section>

    <section class="delivery">
      <div class="container delivery__container">
        <h2 class="delivery__title">Доставка и оплата</h2>
        <p class="delivery__description">
          Бесплатная доставка осуществляется до двери в черте Хабаровска при заказе от 2000 руб.
          Для информации о возможности и стоимости доставки за пределами г.Хабаровска свяжитесь с нами.
          Оплату возможно произвести наличными курьеру или переводом Сбербанк онлайн.
          Реквизиты для перевода Вам сообщит менеджер при уточнении заказа.
        </p>
      </div>
    </section>
  </main>

  <footer class="page-footer">
    <h2 class="page-footer__title">Наши контакты:</h2>
    <a class="page-footer__link page-footer__link--whatsapp" href="https://wa.me/79098788011">WhatsApp</a>
    <a class="page-footer__link page-footer__link--tel" href="tel:+79098788011">Телефон: +79098788011</a>
    <a class="page-footer__link page-footer__link--ig" href="https://www.instagram.com/khv_elki/">Instagram</a>
    <a class="page-footer__link page-footer__link--vk" href="https://vk.com/id514070555">Вконтакте</a>
    <a class="page-footer__link page-footer__link--ok" href="https://ok.ru/profile/578086170598">Одноклассники</a>
  </footer>
  <script defer src="js/script.min.js"></script>
</body>

</html>