{% set products = [ {
name: "Елка «Стандарт»",
id: 1,
price: [4049, 4849],
types: ["180 см", "210 см"],
description: [
"Собирается за 5 минут, отлично выглядит! Кончики веток светло-зеленого цвета. Высота: 180 см",
"Собирается за 5 минут, отлично выглядит! Кончики веток светло-зеленого цвета. Высота: 210 см"
],
image: ["tree-standart", "tree-standart"],
buttonClass: "product__order--tree"
}, {
name: "Елка «Премиум»",
id: 2,
price: [3749, 4749, 5749],
types: ["150 см", "180 см", "210 см"],
description: [
"Как настоящая! В комплекте шишки и красные ягодки, кончики веток украшены инеем. Высота: 150 см",
"Как настоящая! В комплекте шишки и красные ягодки, кончики веток украшены инеем. Высота: 180 см",
"Как настоящая! В комплекте шишки и красные ягодки, кончики веток украшены инеем. Высота: 210 см"
],
image: ["tree-premium", "tree-premium", "tree-premium"],
buttonClass: "product__order--tree"
}, {
name: "Елка «Базовая»",
id: 3,
price: [1789, 2449, 3349],
types: ["150 см", "180 см", "210 см"],
description: [
"Простая, но красивая елка. Кончики веток слегка белые. Высота: 150 см",
"Простая, но красивая елка. Кончики веток слегка белые. Высота: 180 см",
"Простая, но красивая елка. Кончики веток слегка белые. Высота: 210 см"
],
image: ["tree-basic", "tree-basic", "tree-basic"],
buttonClass: "product__order--tree"
}, {
name: "Елка в горшке",
id: 4,
price: [1500, 1500],
types: ["с снежинками", "с лампочками"],
description: [
"Елка в горшке, высота 60 см, с встроенной гирляндой(снежинки) и звездой. Отличный выбор для офисного стола!",
"Елка в горшке, высота 60 см, с встроенной гирляндой(лампочки) и звездой. Отличный выбор для офисного стола!"
],
image: ["tree-mini", "tree-mini", "tree-mini"],
buttonClass: "product__order--tree-pot"
}, {
name: "Гирлянды",
id: 5,
price: [375, 150, 200],
types: ["шарики разноцветные", "золотые лампочки", "лампочки разноцветные"],
description: [
"Гирлянда(Шарики, трехцветные - красный, синий, зеленый). Длина: 6м",
"Гирлянда(Лампочки, желтые). Длина: 8м",
"Гирлянда(Лампочки, трехцветные- красный, синий, зеленый). Длина: 8м"
],
image: ["lights", "lights-yellow", "lights-color"],
buttonClass: "product__order--lights"
}, {
name: "Набор шариков",
id: 6,
price: [299, 299, 299],
types: ["разноцветный","разноцветный","разноцветный"],
description: [
"Набор из 6 различных шаров, пластик, цвета случайные. Фото для примера",
"Набор из 6 различных шаров, пластик, цвета случайные. Фото для примера",
"Набор из 6 различных шаров, пластик, цвета случайные. Фото для примера"
],
image: ["balls-1", "balls-2", "balls"],
buttonClass: "product__order--bauble"
}, {
name: "Комплект «Стандарт»",
id: 7,
price: [4869, 6369],
types: ["180 см", "210 см"],
description: [
"В комплекте 12 игрушек, звезда и 2 гирлянды. Высота елки: 180см",
"В комплекте 24 игрушки, звезда и 3 гирлянды. Высота елки: 210см"
],
image: ["set-standart", "set-standart"],
buttonClass: "product__order--sack"
}, {
name: "Комплект «Премиум»",
id: 8,
price: [4569, 5569, 7269],
types: ["150 см", "180 см", "210 см"],
description: [
"В комплекте 12 игрушек, звезда и 2 гирлянды. Высота елки: 150см",
"В комплекте 12 игрушек, звезда и 2 гирлянды. Высота елки: 180см",
"В комплекте 24 игрушки, звезда и 3 гирлянды. Высота елки: 210см"
],
image: ["set-premium", "set-premium", "set-premium"],
buttonClass: "product__order--sack"
},{
name: "Комплект «Базовый»",
id: 9,
price: [2609, 3269, 4749],
types: ["150 см", "180 см", "210 см"],
description: [
"В комплекте 12 игрушек, звезда и 2 гирлянды. Высота елки: 150см",
"В комплекте 12 игрушек, звезда и 2 гирлянды. Высота елки: 180см",
"В комплекте 24 игрушки, звезда и 3 гирлянды. Высота елки: 210см"
],
image: ["set-basic", "set-basic", "set-basic"],
buttonClass: "product__order--sack"
}
]%}

{% set images = [
{
image: "gallery-1",
caption: "Комплект «Стандарт»"
},
{
image: "gallery-2",
caption: "Гирлянда шарики"
},
{
image: "gallery-3",
caption: "Комплект «Премиум»"
},
{
image: "gallery-4",
caption: "Комплект «Премиум»"
},
{
image: "gallery-5",
caption: "Котик"
},
{
image: "gallery-6",
caption: "Набор шариков и гирлянда"
},
{
image: "gallery-7",
caption: "Игрушка"
},
{
image: "gallery-8",
caption: "Комплект «Базовый»"
},
{
image: "gallery-9",
caption: "Елка «Премиум»"
}
]%}


<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Магазин искусственных ёлок khvelki.ru</title>
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body id="top">
  <div class="visually-hidden">
    <include src="build/img/sprite.svg"></include>
  </div>

  <header class="page-header no-js">
    <div class="page-header__wrapper container">
      <svg class="page-header__image" width="50" height="50"><use xlink:href="#christmas_tree"/></svg>
      <h1 class="page-header__title">Магазин Елок</h1>
      <button class="page-header__button no-js" type="button"><span class="visually-hidden">Открыть\закрыть меню</span></button>
    </div>
    <nav class="page-header__navigation">
      <ul class="page-header__list">
        <li class="page-header__item"><a class="page-header__link" href="#gallery">Галерея</a></li>
        <li class="page-header__item"><a class="page-header__link" href="#catalog">Каталог</a></li>
        <li class="page-header__item"><a class="page-header__link" href="#order-form">Форма заказа</a></li>
        <li class="page-header__item"><a class="page-header__link" href="#delivery">Доставка</a></li>
        <li class="page-header__item"><a class="page-header__link" href="#footer">Контакты</a></li>
      </ul>
    </nav>

  </header>

  <main>

    <section class="hero" id="hero">
      <canvas class="hero__overlay" id="snow"></canvas>
      <h2 class="visually-hidden">Наши акции</h2>
      <p class="hero__lead"><span class="hero__title">Искусственные елочки любых размеров в Хабаровске</span></p>
      <p class="hero__lead"><span class="hero__title">Бесплатная доставка до двери. Успей заказать!</span></p>
      <p class="hero__lead"><span class="hero__title hero__title--big">До Нового года осталось:</span></p>
      <div class="hero__countdown">
        <div class="hero__wrapper">
          <span class="hero__count hero__count--days">15</span><br><span class="hero__label">дней</span>
        </div>
        <div class="hero__wrapper">
          <span class="hero__count hero__count--hours">23</span><br><span class="hero__label">часов</span>
        </div>
        <div class="hero__wrapper">
          <span class="hero__count hero__count--minutes">29</span><br><span class="hero__label">минут</span>
        </div>
        <div class="hero__wrapper">
          <span class="hero__count hero__count--seconds">14</span><br><span class="hero__label">секунд</span>
        </div>
      </div>
      <a class="hero__button" href="#catalog">Подобрать елку</a>
    </section>

    <section class="advantages">
      <div class="container advantages__container">
        <h2 class="advantages__title">Наши преимущества</h2>
        <ul class="advantages__list">
          <li class="advantages__item advantages__item--guarantee">
            <div class="advantages__wrapper">
              <strong class="advantages__name">Гарантии</strong>
              <span class="advantages__description">Обмен или возврат при выявлении брака</span>
            </div>
          </li>
          <li class="advantages__item advantages__item--delivery">
            <div class="advantages__wrapper">
              <strong class="advantages__name">Бесплатная доставка</strong>
              <span class="advantages__description">До вашей двери в удобное время</span>
            </div>
          </li>
          <li class="advantages__item advantages__item--prices">
            <div class="advantages__wrapper">
              <strong class="advantages__name">Выгодные цены</strong>
              <span class="advantages__description">Мы работаем напрямую с производителем</span>
            </div>
          </li>
          <li class="advantages__item advantages__item--review">
            <div class="advantages__wrapper">
              <strong class="advantages__name">Лучшие отзывы</strong>
              <span class="advantages__description">Все клиенты довольны!</span>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="gallery" id="gallery">
      <div class="gallery__container container">
        <h2 class="gallery__title">Фото нашей продукции</h2>
        <ul class="gallery__list">
          {% for image in images %}
          <li class="gallery__item">
            <a class="gallery__link" href="img/{{image.image}}.jpg" data-caption="{{image.caption}}">
            <picture>
              <source type="image/webp" srcset="img/{{image.image}}_tn.webp">
              <img  src="img/{{image.image}}_tn.jpg" alt="{{image.caption}}" width="150" height="150">
            </picture>
          </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="catalog" id="catalog">
      <h2 class="visually-hidden">Каталог товаров</h2>
      <b class="catalog__descrition">Выберите свою елочку на новый год</b>
      <b class="catalog__caption">Чтобы не тратить время на выбор мы предлагаем Вам лучшие искусственные елки в этом году</b>
      {% for product in products %}
      <div class="catalog__slider">
        <div class="catalog__frame">
          <ul class="catalog__list">
            {% for price in product.price %}
            <li class="catalog__item product">
              <div class="product__container">
                <b class="product__name">{{product.name}} {{product.types[loop.index0]}}</b>
                <b class="product__description">{{product.description[loop.index0]}}</b>
                <div class="product__wrapper">
                  <picture>
                    <source type="image/webp" srcset="img/{{product.image[loop.index0]}}@1x.webp 1x, img/{{product.image[loop.index0]}}@2x.webp 2x">
                    <img class="product__image" src="img/{{product.image[loop.index0]}}@1x.jpg" srcset="img/{{product.image[loop.index0]}}@2x.jpg 2x" alt="Фото {{product.name}}" width="300" height="517">
                  </picture>
                </div>
                <b class="product__price">{{product.price[loop.index0]}} руб.</b>
                <a class="product__order {{product.buttonClass}}" href="#order-form" data-name="{{product.name}} {{product.types[loop.index0]}}" data-price="{{product.price[loop.index0]}}">Хочу это!</a>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% if (product.price | length) > 1 %}
        <button class="product__slide product__slide--prev" type="button">
          <svg class="page-header__image" width="25" height="25"><use xlink:href="#slider-button"/></svg>
        </button>
        <button class="product__slide product__slide--next" type="button">
          <svg class="page-header__image" width="25" height="25"><use xlink:href="#slider-button"/></svg>
        </button>
        {% endif %}
      </div>
      {% endfor %}
    </section>

    <section class="order-form" id="order-form">
      <div class="order-form__container container">
        <h2 class="order-form__title">Оформить заказ</h2>
        <form class="order-form__form" action="php/form.php" method="POST">
          <div class="order-form__wrapper">
            <label class="order-form__label" for="name">Ваше имя*:</label>
            <input class="order-form__input" type="text" name="name" id="name" placeholder="Имя" required>
          </div>
            <div class="order-form__wrapper">
              <label class="order-form__label" for="tel">Телефон*:</label>
              <input class="order-form__input" type="tel" name="tel" id="tel" placeholder="+7-XXX-XXX-XX-XX" required>
          </div>
              <div class="order-form__wrapper">
                <label class="order-form__label" for="address">Адрес доставки*:</label>
                <input class="order-form__input" type="text" name="address" id="address" placeholder="ул. Ленина, д.1, кв. 1" required>
          </div>
                <div class="order-form__wrapper">
                  <label class="order-form__label" for="comment">Комментарий к заказу:</label>
                  <input class="order-form__input" type="text" name="comment" id="comment" placeholder="Дополнительная информация">
          </div>
                  <input class="order-form__hidden" type="text" name="products" id="products" hidden>
                  <input class="order-form__hidden" type="text" name="total" id="total" hidden>
                  <p class="order-form__cart no-js">
                    <span class="order-form__wrapper">
                      <span class="order-form__cart-label">Товары в заказе:</span> <span class="order-form__cart-items">-</span>
                    </span>
                    <span class="order-form__wrapper">
                      <span class="order-form__cart-label order-form__cart-label--nowrap">Сумма заказа:</span> <span class="order-form__cart-total">0 руб.</span>
                      <button class="order-form__reset" type="button">Очистить заказ</button>
                    </span>
                  </p>
                  <button class="order-form__submit" type="submit">Заказать</button>
        </form>
      </div>
    </section>

    <section class="order-info">
      <div class="container order-info__container">
        <h2 class="order-info__title">Как сделать заказ?</h2>
        <ol class="order-info__list">
          <li class="order-info__item">
            Оставьте заявку на сайте или позвоните
          </li>
          <li class="order-info__item">
            Мы свяжемся с вами в течении 15 минут и уточним заказ и детали заявки</li>
          <li class="order-info__item">
            Ожидайте доставку в назначенное время
          </li>
          <li class="order-info__item">
            Можно украшать елку и отмечать Новый год!
          </li>
        </ol>
      </div>
    </section>

    <section class="guarantee">
      <div class="container guarantee__container">
        <h2 class="guarantee__title">Наши гарантии</h2>
        <p class="guarantee__description">
          В случае выявления брака или неполной комплектации свяжитесь с нами любым удобным способом. <br>
          Наш курьер доставит замену в максимально короткий срок.
        </p>
      </div>
    </section>

    <section class="testimonials">
      <div class="container testimonials__container">
        <h2 class="testimonials__title">Отзывы наших клиентов</h2>
        <ul class="testimonials__list">
          <li class="testimonials__item">
            <q class="testimonials__quote">Заказал на сайте целиком комплект «Премиум», потому что не люблю ходить по магазинам в предверии Нового года. Внешний вид превзошел все ожидания. Игрушек положили многовато, все даже вешать не стал.</q>
            <cite class="testimonials__cite">Евгений С.</cite>
          </li>
          <li class="testimonials__item">
            <q class="testimonials__quote">Спасибо за быструю доставку! Доставили в тот же день, собрала елку за один вечер! Мужу и детям елочка очень понравилась)</q>
            <cite class="testimonials__cite">Копылова Вера</cite>
          </li>
          <li class="testimonials__item">
            <q class="testimonials__quote">Все супер! Елка как на фото, даже лучше чем настоящая! Никаких неприятных запахов не выделяет. В прошлом году покупал на китайском рынке - так пришлось выкинуть из за запаха, побоялся за здоровье</q>
            <cite class="testimonials__cite">Баранов Егор</cite>
          </li>
          <li class="testimonials__item">
            <q class="testimonials__quote">Спасибо Вам большое! Видел такие же елочки в торговом центре в 2 раза дороже, а у вас еще и доставка бесплатная. Могу теперь жене шикарный подарок купить на сэкономленные деньги</q>
            <cite class="testimonials__cite">Mr. Robot</cite>
          </li>
        </ul>
      </div>
    </section>

    <section class="delivery" id="delivery">
      <div class="container delivery__container">
        <h2 class="delivery__title">Доставка и оплата</h2>
        <p class="delivery__description">
          Бесплатная доставка осуществляется до двери в черте Хабаровска при заказе от 2000 руб.
          Для информации о возможности и стоимости доставки за пределами г.Хабаровска свяжитесь с нами.
          Оплату возможно произвести наличными курьеру или переводом Сбербанк онлайн.
          Реквизиты для перевода Вам сообщит менеджер при уточнении заказа.
        </p>
      </div>
    </section>
  </main>

  <footer class="page-footer" id="footer">
    <div class="container page-footer__container">
      <h2 class="page-footer__title">Наши контакты:</h2>
      <a class="page-footer__link page-footer__link--whatsapp" href="https://wa.me/79098788011">WhatsApp</a>
      <a class="page-footer__link page-footer__link--tel" href="tel:+79098788011">Телефон: +79098788011</a>
      <a class="page-footer__link page-footer__link--ig" href="https://www.instagram.com/khv_elki/">Instagram</a>
      <a class="page-footer__link page-footer__link--vk" href="https://vk.com/id514070555">Вконтакте</a>
      <a class="page-footer__link page-footer__link--ok" href="https://ok.ru/profile/578086170598">Одноклассники</a>
    </div>
  </footer>
  <script defer src="js/script.min.js"></script>
</body>

</html>
